<%= form_with model: @food do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name, 
                      required: true,
                      autocomplete: "name",
                      placeholder: "料理名を入力してください"
  %>
  <br>
  <p></p>
  <br>
  <%= form.label :comment%>
  <%= form.text_area :comment,
                      placeholder: "料理に関するコメントを入力してください。"
  %>
  <br>
  <%= form.submit "送信" %>
<% end %>